<!DOCTYPE html>
<html lang="en">
	

<head>
    <title>AiDataRon - Perfect Digital Services To Maximize Your Digital Business</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link rel="shortcut icon" type="image/png" href="images/fav1.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
	<meta name = "description"  content = "Aidataron is the one of the biggest name in Pakistan for providing Digital services like graphic designing , web design and development and digital marketing. We helped alot od international business acheiving their goals and also helped national brands reach international market.">
    <link rel="stylesheet" href="swiper/swiper.min.css">
    <link rel="stylesheet" href="index.css">
    <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    
    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.js"></script>  -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
	
	<script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-26028bbb-d02d-449f-a0af-1fe21cd667c5"></div>
    

    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-166294183-1');
</script>
	
	<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '193121161507671');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=193121161507671&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
</head>
<body>
	
	<div class = "loader-wrapper">
		<!-- <div class = "text-center" style = " " >
			<img src="images/ailogo2.png" style = "width:75px">
		</div> -->
		<div class="center">
			
		  <span></span>
		  <span></span>
		  <span></span>
		  <span></span>
		</div>
	</div>
	

    <nav>
            <div class="menu-wrap">
                    <input type="checkbox" class="toggler">
                    <div class="hamburger"><div></div></div>
                    <div class="menu">
                        <div>
                        <div class="row">
                            <div class="col-12 col-md-6 mt-5 ">
                                <ul>
                                    <li ><a class="hover-link" href="/">Home</a></li>
									<li><a class="hover-link" href="#ourservices">Services</a></li>
									<li><a class="hover-link" href="/portfolio">Portfolio</a></li>
                                    <li ><a class="hover-link" href="https://www.fiverr.com/aidataron?up_rollout=true">Get a Quote</a></li>
                                    <li class="nav-item dropdown">
                                            <a href="#" class="nav-link text-white">Account</a>
                                            <div class="dropdown pl-md-5">
                                              <div class="dropdown-content text-center ">
												  
												<% if(!currentUser){ %>
													<a href="/signup">Signup</a>
													<a href="/login">Login</a>
												<% }else{ %>
												  <a href="/profile"><%= currentUser.yourname%></a>
													<a href="/logout">Logout</a>
												<% } %>
                                              </div>
                                            </div>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-12 col-md-6 nav-logo text-center">
                                <div class="col-12 footer-logo text-center text-white ">
                                    <img src="images/ailogo2.png" class="rounded" alt="graphic designing companies the big companies webdevelopment companies
" width="150px" height="145px">
                                    <h2 id = "aidataron">AiDataRon</h2>

                                </div>
                                <div class="follow text-white mt-5 d-flex-col justify-content-center align-items-center">
                                    <h5 class="mt-5 pt-3"><strong>Contact Us </strong></h5>
                                    <a href="https://www.facebook.com/Aidataron-103710027786096/" class="text-white"><i class="fab fa-facebook"></i></a>
                                    <a href="http://www.twitter.com/aidataron" class="text-white"><i class="fab fa-twitter"></i></a>
                                    <a href="http://instagram.com/aidataronofficial" class="text-white"><i class="fab fa-instagram"></i></a>
                                    <a href="https://wa.me/923138309256" class="text-white" target="_blank"><i class="fab fa-whatsapp"></i></a>
                                    <a href="https://www.linkedin.com/company/aidataronofficial/" class="text-white" target="_blank"><i class="fab fa-linkedin"></i></a>

                                </div>
                                

                            </div>
                            
                        </div>
                        </div>
                    </div>


            </div>

            <div class="account">
                    <li class="nav-item dropdown">
                            <div class="dropdown">
                                <button class="btn btn-account">Account</button>
                              <div class="dropdown-content">
								  <% if(!currentUser){ %>
								    <a href="/signup">Signup</a>
                                    <a href="/login">Login</a>
								  <% }else{ %>
								  <a href="/profile"><%= currentUser.yourname%></a>
								    <a href="/logout">Logout</a>
								  <% } %>
                                
								  
                              </div>
                            </div>
                    </li>
                    
            </div>

            

            <div class="nav-brand text-center" >
                <div class="brand">
                    <div><a id= "aidataron-brand"  href="/"><strong>AiDataRon</strong></a></div>
                    

                </div>


            </div>

            

            

    </nav>
	<div class="container">
		<% if(error && error.length > 0){ %>
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<%= error %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
							<% } %>
		<% if(success && success.length > 0){ %>
							<div class="alert alert-success alert-dismissible fade show" role="alert">
						<%= success %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
							<% } %>
	</div>
	
	<% if(foundTechNews === "undefined"){ %>
		<h1>
	<%= foundTechNews[0].heading %>
	</h1>
	<% } %>


    <header class="upcomings">

        <div class="row"> 
            <div class="col-12 col-md-6  p-0" id="carousel" >
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active text-white">
                                <div class="row justify-content-center align-items-center text-center mt-5 mb-3">
                                    <div class="col-10 mt-0 mt-md-0 mt-lg-4  ">
                                        <h1 class="display-3 " id = "build-brand">We Build Brands</h1>
										<p>
											--------------------------------------------------------
										</p>
                                        <!-- <h2 class="mt-4">Artificial Intelligence</h2>
                                        <p>   Artificial intelligence is the simulation of human intelligence processes by machines...</p>
                                        <a href="/upcomings" class="btn btn-upcomings">Explore</a> -->
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="carousel-item text-white">
                                <div class="row justify-content-center text-center mt-5 mb-3">
                                    <div class="col-10 ">
                                        <h1 class="display-4">Expand Your Business</h1>
										
										<h2 class = "mt-4">
											Shift Your BUSINESS ONLINE
										</h2>
                                        <p><strong>Shift your business Online and Earn Money During Lock-Down We will Develop Website for your business with Custom-Graphics along with Digital Marketing</strong></p>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="carousel-item text-white">
                                <div class="row justify-content-center text-center mt-5 mb-3">
                                    <div class="col-10 ">
                                        <h1 class="display-4">Get Your Business ONLINE</h1>
                                        <h2 class="mt-4">With our Professional Packages</h2>
                                        <strong><p>We will built Online Store for your Business with amazing Custom Graphics and your whole business will be set-up Online</p></strong>
                                        <!-- <a href="/upcomings" class="btn btn-upcomings">Explore</a> -->
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="carousel-item text-white">
                                <div class="row justify-content-center text-center mt-5 mb-3">
                                    <div class="col-10 ">
                                        <h1 class="display-4">Get Sales</h1>
                                        <h2 class="mt-4">Set-up Your Business Online and Get Sales</h2>
                                        <p><strong>We will Develop Online Store for your Business and will make your business a BRAND by doing SEO and Digital Marketing and will bring you loyal customers</strong></p>
                                        <!-- <a href="/upcomings" class="btn btn-upcomings">Explore</a> -->
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-12 col-md-6  p-0" id="carousel" >
                
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <img src="images/brand.png" class="d-block w-100" alt="the big companies web development ideas ">
                                    </div>
                                    <div class="carousel-item">
                                    <img src="images/pkg11.png" class="d-block w-100" alt="graphic designing skills graphic designing jobs   " >
                                    </div>
                                    <div class="carousel-item">
                                    <img src="images/pkg12.png" class="d-block w-100" alt="Web development referred  to
 Web development process  web development companies web development technologies ">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="images/pkg13.png" class="d-block w-100" alt="Digital marketing services digital marketing platforms digital marketing tips" > 
                                    </div>
                                </div>
                        </div>

            </div>

    </header>
    <hr>
    <hr><hr>
    <hr>
		
		
		
	<section class = "Msection">
		<div class ="row mt-5 pt-5 justify-content-center" >
			<br><br><br><br><br><br><hr><hr>
			<!-- <div class = "col-2 col-md-1">
				
			</div> -->
			<div class = "col-8 col-md-4 mt-5 p-0">
				<!-- <img class = " Mimg img-fluid" src = "images/mission2.jpg"> -->
				<div class="text-center">
                        <img src="images/mission5.jpg" alt="..." class=" rounded-circle  img-fluid p-0 px-4">
                </div>
				
			</div>
			<!-- <div class = "col-2 col-md-0">
				
			</div> -->
			<div class = "col-12 col-md-8 p-0">
				<div class="Mcontainer mt-5">
                  <div class="Mbox">
                  <div class="Mcontent">
                    <h2>
                        Our Mission
                    </h2>
                    <p>
                       <strong>AiDataron is an IT Solutions providing company in Islamabad, Pakistan.</strong> 
<br><br> We aim to get maximum of Business to the online world by providing professional, efficient, modern and at the same time affordable digital services to maximize the business of local Brands by giving them the exposure of international industries
<br>
                        We had worked with a lot of international and local Brands connecting them through our Digital Services

                    </p>

                </div>

            </div>

        </div>
			</div>
			
		</div>
		<br><br><br><br>
	</section>
		
	
		
		
	<section class = "clientssection">
		<section  >
			<h1 class="display-4 text-center text-white pt-5 pb-5 servicehead">
				Who we are
			</h1>
			
			<div class = "text-center" style = " " >
				<video id = "ad" poster="images/adthumbnail.PNG"  class = "pb-5 pb-md-5" src="images/ad.mp4" autoplay muted loop id="myVideo"></video>
			</div>
		</section>
		
		
		
		<h1 class="display-4 text-center text-white pt-5 pb-5 servicehead">Our Clients</h1>
		<div class = "uldiv mx-0 mx-md-5 px-0 px-md-5 ">
			<ul class = "justify-content-center">
				<li><img class = "pl-xl-5" src="images/cli1.png"></li>
				<li><img class = "pl-xl-5" src="images/cli2.png"></li>
				<li><img class = "pl-xl-5" src="images/cli3.png"></li>
				<li><img class = "pl-xl-5" src="images/cli4.png"></li>
		  </ul>
		  <ul class = "justify-content-center">
			<li><img src="images/cli5.png"></li>
			<li><img src="images/cli6.png"></li>
			<li><img src="images/cli7.png"></li>
			<li><img src="images/cli8.png"></li>	
		  </ul>
		</div>
		
		<br><br><br>
		
	</section>
		

    <section class="our-services">
            <a name="ourservices"></a>
        <h1 class="display-4 text-center text-white pt-5 pb-5 servicehead">Our Services</h1>
<hr><hr>
		
		<div class = "row mt-5 mb-5">
			<div class="col-12 col-md-6 graphic-service mt-2 mt-md-5 mb-5 mb-md-1 " >
					<div class="row justify-content-center  mt-2">
							<div class="col-10 text-white" >
								<h1 id = "graphic-service-heading">Graphic Designing</h1>
								<p>Graphic Designing is important for any business wanting to create credibility in its industry. According to companies graphic designing jobs are increased by 50% in the last few years. Graphic designing skills are too much important in this context. The more content you will provide to solve a problem the audience will trust your advice as you are an expert in your field.</p>
								<a href="/graphicdesigning" class="btn btn-upcomings">Explore</a>
							</div>

						</div>

			</div>
			<div class = "col-12 col-md-6 mt-2 mt-md-5 mb-5 mb-md-1">
				<img class = "img-fluid" src = "images/gd2.jpg">

			</div>
			
			
			<div id = "web-img" class="col-12 col-md-6  mt-2 mt-md-5 mb-5 mb-md-1 " >
					<!-- <video class = "pb-5 pb-md-5" src="images/vid2.mp4" autoplay muted loop id="myVideo"></video> -->
				<img class = "img-fluid" src = "images/WEB1.jpg">

			</div>
			
			<div id = "web-detail" class="col-12 col-md-6 graphic-service mt-2 mt-md-5 mb-5 mb-md-1 " >
					<div class="row justify-content-center  mt-2 ">
							<div class="col-10 text-white ">
								<h1 id = "web-service-heading">Web Development</h1>
								<p>Web development referred to the task associated with developing a website via intranet or internet. The web development process includes web design, web content development client-side/server-side scripting. Web development technologies basically include front-end and back-end. We also give web development ideas to new companies.</p>
								<a href="/webdevelopment" class="btn btn-upcomings">Explore</a>
							</div>

						</div>


			</div>
			
			
			<div class="col-12 col-md-6 graphic-service mt-2 mt-md-5 mb-5 mb-md-1 " >
					<div class="row justify-content-center  mt-2 ">
							<div class="col-10 text-white">
								<h1 id = "digital-service-heading">Digital Marketing</h1>
								<p>Our Digital marketing services include Facebook,Instagram, Linkedin, and Pinterest services these digital marketing platforms help to increase the audience for the business in an efficient way. We also give Digital Marketing tips to companies in order to reach new heights.</p>
								<a href="/digitalmarketing" class="btn btn-upcomings ">Explore</a>
							</div>

						</div>

			</div>
			<div class="col-12 col-md-6 mt-2 mt-md-5 " >
				<!-- <video src="images/digitalM.mp4" autoplay muted loop id="myVideo"></video> -->
				<img class = "img-fluid" src = "images/dm1.jpg">

			</div>
			
			
			
			<div id = "app-img" class="col-12 col-md-6 mt-2 mt-md-5 mb-5 " >
				<!-- <video src="images/digitalM.mp4" autoplay muted loop id="myVideo"></video> -->
				<img class = "img-fluid" src = "images/App1.jpg">

			</div>
			
			<div id = "app-detail" class="col-12 col-md-6 graphic-service mt-2 mt-md-5 mb-5 " >
					<div class="row justify-content-center  mt-2 ">
							<div class="col-10 text-white">
								<h1 id = "digital-service-heading">App Development</h1>
								<p>Mobile app development is the act or process by which a mobile app is developed for mobile devices, such as personal digital assistants, enterprise digital assistants or mobile phones. We offer this service as it is the most popular service of the future having more job of app development than anyother. We have the most experienced app developer in our company.</p>
								<!-- <a href="/digitalmarketing" class="btn btn-upcomings">Explore</a> -->
							</div>

						</div>

			</div>
			
			
		</div>
		
		
		<br class = "my-5"><br><br>
        <div class="quote-query mt-5 pb-5 text-center">
            <div class=" mt-5 ">
                <a href="https://www.fiverr.com/aidataron?up_rollout=true"><button  class="btn btn-quotequery px-5 py-2">Get a quote</button></a>
                <a href="/query"><button  class="btn btn-quotequery px-5 py-2">Any Query?</button></a>

            </div>

        </div>
        <br><br><br>
<br><br>
		
        

        

    </section>
	<section>
		
		
	</section>
		
    <section class="founders">

        <h1 class="text-white text-center display-4 mt-5 mb-5 founderHead">Founders</h1>

            <div class="wrapper">
                    <ul class="stage clearfix">
    
                        <li  class="scene" >
                            <div class="movie" onclick="return true">
                                <div class="poster"></div>
                                <div class="info">
                                    <header class="text-white">
                                        <h1>Tasadduq Ali</h1>
                                        <span class="year ">Founder/MERN Stack Dev</span>

                                    </header>
                                    <p>
                                       I'm Tasadduq Ali Founder and Head MERN Stack Developer of AiDataron. I am kind of man EAT-CODE-SLEEP. I have done alot of work  in market with experienced developer in past 2years. 
										VISION:
Now  I am working on my dream building Aidataron.I am doing research and studies about Artificial Intelligence the field I am fond of. Hoping for the excited revoltion due to AI
                                    </p>
                                </div>
                            </div>
                        </li>
    
                        <li class="scene" >
                            <div class="movie" onclick="return true">
                                <div class="poster"></div>
                                <div class="info">
                                    <header>
                                        <h1>Faizan Abbas</h1>
                                        <span class="year">Co-Founder/Profeesional Graphic Designer</span>
                                    </header>
                                    <p>
                                        I’m Faizan Abbas. I am the Co-Founder and Head Graphic designer in AiDataRon.I can digitize your imaginations.Graphic Design is My Passion is a phrase that shows everyone who you are and what you create. 
										VISION:
The future of graphic design is going to be elevated to new heights by being fused with augmented reality and eventually, 3D printing.
                                    </p>
                                </div>
                            </div>
                        </li>
    
                        <li class="scene" >
                            <div class="movie" onclick="return true">
                                <div class="poster"></div>
                                <div class="info">
                                    <header class = "">
                                        <h1>Asad Mehmood</h1>
                                        <span class="year">Co-founder/Social Media Marketer</span>
                                    </header>
                                    <p class= "text-dark">
                                        My name is Asad Mahmood. I am Co-founder and Head Digital Marketer at AiDataRon. As Digital Marketing is the future of the marketing. Our Professional Team Build your Brand Digitally and Get you Loyal Cutomers and Sales 
</p>
                                </div>
                            </div>
                        </li>
    
                    </ul>
                </div>

    </section>

    <section class="tech-news pt-5">
		<a name="blog"></a>
        <h1 class="display-4 text-white text-center">
            Tech News
        </h1>
        <div class="swiper-container">
                <div class="swiper-wrapper">
					<% var last = foundTechNews.length %>
					<% for(var i = last - 1; i >= 0; i--){ %>
						<div class="swiper-slide">
							<div class="img-box">
								<img class="img-fluid" src="<%= foundTechNews[i].image %>">
							</div>
							<br>
							<div class="details">
								<h3><%= foundTechNews[i].heading%><br></h3>
								
								<button class = "btn btn-info btn-sm">
									<a class = "text-white" href="<%=foundTechNews[i].post%>" target="_blank">Explore</a>
								</button>
								<!-- <a href="/digitalmarketing" class="btn btn-upcomings">Explore</a> -->
							</div>
						</div>
					<% } %>

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
              </div>
        

    </section>



    <footer >
        <br><br><br><br><br><br><br>
        <div class="container-fluid pb-5">
            <div class="row  pt-5 m-0 text-center">
                    <div class="col-12 col-md-5 footer-box1 ">
                        <div class="row">
                            <div class="col-12 footer-logo text-center text-white">
                                    <img src="images/ailogo2.png" class="rounded" alt="..." width="150px" height="145px" href="/">
                                    <h2 href="/" class="pb-3">
                                        AiDataRon
                                    </h2>
                                <p>Perfect Services To Maximize Your Digital Business</p>
        
                            </div>
        
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class=" follow text-white mt-5 d-flex-col justify-content-center align-items-center">
                                        <h5><strong>Contact us </strong></h5>
                                        <a href="https://www.facebook.com/Aidataron-103710027786096/"><i class="fab fa-facebook"></i></a>
                                        <a href="http://www.twitter.com/aidataron"><i class="fab fa-twitter"></i></a>
                                        <a href="http://instagram.com/aidataronofficial"><i class="fab fa-instagram"></i></a>
                                        <a href="https://wa.me/923138309256"><i class="fab fa-whatsapp"></i></a>
                                        <a href="https://www.linkedin.com/company/aidataronofficial/"><i class="fab fa-linkedin"></i></a>
                                </div>
        
                            </div>
        
                        </div>
                    </div>
                    <div class="col-12 col-md-7 footer-box2 px-5">
                        <div class="row text-center">
                                <br><br><br>
                                <div class="quote-query mt-5 ">
                                    <div class="container text-center text-white ml-md-2">
										<a href="https://www.fiverr.com/aidataron?up_rollout=true"><button  class="btn btn-quotequery px-5 py-2">Get a quote</button></a>
										<a href="/query"><button  class="btn btn-quotequery px-5 py-2">Any Query?</button></a>
                        
                                    </div>
                        
                                </div>
                                <br><br><br>

                        </div>
                        <div class="row">
                            <div class="col-12 col-md-3">
                                    <div class="text-white mt-5 d-flex-col justify-content-center align-items-center">
                                            <!-- <h5><strong>LIBARTUS</strong></h5>
                                            <p><a href="#">Our Story</a></p>
                                            <p><a href="#">Careers</a></p> -->
                                            <p><a href="/ourstory">Our Story</a></p>
                                     </div>

                            </div>
							<div class="col-12 col-md-3">
                                    <div class="text-white mt-5 d-flex-col justify-content-center align-items-center">
                                            <!-- <h5><strong>LIBARTUS</strong></h5>
                                            <p><a href="#">Our Story</a></p>
                                            <p><a href="#">Careers</a></p> -->
                                            <p><a href="/about">About Us</a></p>
                                     </div>

                            </div>
                            <div class="col-12 col-md-3">
                                    <div class="text-white mt-5 d-flex-col justify-content-center align-items-center">
                                            <!-- <h5><strong>LIBARTUS</strong></h5>
                                            <p><a href="#">Our Story</a></p>
                                            <p><a href="#">Careers</a></p> -->
                                            <p><a href="/contact">Contact us</a></p>
                                     </div>

                            </div>
                            <div class="col-12 col-md-3">
                                    <div class="text-white mt-5 d-flex-col justify-content-center align-items-center">
                                            <!-- <h5><strong>LIBARTUS</strong></h5>
                                            <p><a href="#">Our Story</a></p>
                                            <p><a href="#">Careers</a></p> -->
                                            <p><a href="/copyright">Copyrights Policy</a></p>
                                     </div>

                            </div>
                            <div class="col-12 col-md-3">
                                    

                            </div>
            
                        </div>
                    </div>
        
                </div>

        </div>
      <br><br><br><br>  
    </footer>




            

<!-- <script src="swiper/swiper.min.js"></script>   -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> 


<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<script>

        var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows : true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
    });
</script>
      

   <script type="text/javascript" src="index.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		
		
		
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166294183-1"></script>


	

     
<!-- <script src="three.min.js"></script> -->

</body>
</html>